################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MHW-Rich-Presence/v16
/x64/Debug
/Memory.cpp
/Memory.hpp
